.yuibutton {
	BORDER-RIGHT: #999 0px solid; BORDER-TOP: #999 1px solid; DISPLAY: inline-block; BACKGROUND: url(background.png) #ecece3 left center; MARGIN: auto 0.25em; BORDER-LEFT: #999 0px solid; BORDER-BOTTOM: #999 1px solid
}
.ie6 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../build/button/assets/background.png', sizingMethod = 'scale'); BACKGROUND-IMAGE: none
}
.yuibutton .first-child {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 0px solid; DISPLAY: inline-block; LEFT: -1px; MARGIN: 0px -1px; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 0px solid; POSITION: relative
}
.yuibutton BUTTON {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #ccc 1px solid; DISPLAY: inline-block; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.25em; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 0.25em; BORDER-BOTTOM: #ccc 1px solid
}
.yuibutton A {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #ccc 1px solid; DISPLAY: inline-block; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.25em; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 0.25em; BORDER-BOTTOM: #ccc 1px solid
}
.yuibutton BUTTON {
	FONT-SIZE: 100%; OVERFLOW: visible; CURSOR: hand; BACKGROUND-COLOR: transparent
}
.yuibutton A {
	COLOR: #000; TEXT-DECORATION: none
}
.splitbutton BUTTON {
	PADDING-RIGHT: 20px; BACKGROUND-POSITION: right center; BACKGROUND-REPEAT: no-repeat
}
.menubutton BUTTON {
	PADDING-RIGHT: 20px; BACKGROUND-POSITION: right center; BACKGROUND-REPEAT: no-repeat
}
.menubutton BUTTON {
	BACKGROUND-IMAGE: url(menuarrow.gif)
}
.splitbutton BUTTON {
	BACKGROUND-IMAGE: url(splitarrow.gif)
}
.focus {
	BORDER-LEFT-COLOR: #5e5c95; BORDER-BOTTOM-COLOR: #5e5c95; BORDER-TOP-COLOR: #5e5c95; BORDER-RIGHT-COLOR: #5e5c95
}
.focus .first-child {
	BORDER-LEFT-COLOR: #5e5c95; BORDER-BOTTOM-COLOR: #5e5c95; BORDER-TOP-COLOR: #5e5c95; BORDER-RIGHT-COLOR: #5e5c95
}
.focus BUTTON {
	BORDER-LEFT-COLOR: #cec1fc; BORDER-BOTTOM-COLOR: #cec1fc; BORDER-TOP-COLOR: #cec1fc; BORDER-RIGHT-COLOR: #cec1fc
}
.focus A {
	BORDER-LEFT-COLOR: #cec1fc; BORDER-BOTTOM-COLOR: #cec1fc; BORDER-TOP-COLOR: #cec1fc; BORDER-RIGHT-COLOR: #cec1fc
}
.hover {
	BORDER-LEFT-COLOR: #406fac; BORDER-BOTTOM-COLOR: #406fac; BORDER-TOP-COLOR: #406fac; BACKGROUND-COLOR: #98d5fc; BORDER-RIGHT-COLOR: #406fac
}
.hover .first-child {
	BORDER-LEFT-COLOR: #406fac; BORDER-BOTTOM-COLOR: #406fac; BORDER-TOP-COLOR: #406fac; BORDER-RIGHT-COLOR: #406fac
}
.hover BUTTON {
	BORDER-LEFT-COLOR: #7099ce; BORDER-BOTTOM-COLOR: #7099ce; BORDER-TOP-COLOR: #7099ce; BORDER-RIGHT-COLOR: #7099ce
}
.hover A {
	BORDER-LEFT-COLOR: #7099ce; BORDER-BOTTOM-COLOR: #7099ce; BORDER-TOP-COLOR: #7099ce; BORDER-RIGHT-COLOR: #7099ce
}
.active {
	BORDER-LEFT-COLOR: #7a8180; BORDER-BOTTOM-COLOR: #7a8180; BORDER-TOP-COLOR: #7a8180; BACKGROUND-COLOR: #333; BORDER-RIGHT-COLOR: #7a8180
}
.active .first-child {
	BORDER-LEFT-COLOR: #7a8180; BORDER-BOTTOM-COLOR: #7a8180; BORDER-TOP-COLOR: #7a8180; BORDER-RIGHT-COLOR: #7a8180
}
.active BUTTON {
	BORDER-LEFT-COLOR: #98a09f; BORDER-BOTTOM-COLOR: #98a09f; BORDER-TOP-COLOR: #98a09f; BORDER-RIGHT-COLOR: #98a09f
}
.active A {
	BORDER-LEFT-COLOR: #98a09f; BORDER-BOTTOM-COLOR: #98a09f; BORDER-TOP-COLOR: #98a09f; BORDER-RIGHT-COLOR: #98a09f
}
.activeoption BUTTON {
	BACKGROUND-IMAGE: url(splitarrow_active.gif); BACKGROUND-COLOR: transparent
}
.checked {
	BORDER-LEFT-COLOR: #7a8180; BORDER-BOTTOM-COLOR: #7a8180; BORDER-TOP-COLOR: #7a8180; BACKGROUND-COLOR: #333; BORDER-RIGHT-COLOR: #7a8180
}
.checked {
	BORDER-LEFT-COLOR: #7a8180; BORDER-BOTTOM-COLOR: #7a8180; BORDER-TOP-COLOR: #7a8180; BACKGROUND-COLOR: #333; BORDER-RIGHT-COLOR: #7a8180
}
.checked .first-child {
	BORDER-LEFT-COLOR: #7a8180; BORDER-BOTTOM-COLOR: #7a8180; BORDER-TOP-COLOR: #7a8180; BORDER-RIGHT-COLOR: #7a8180
}
.checked .first-child {
	BORDER-LEFT-COLOR: #7a8180; BORDER-BOTTOM-COLOR: #7a8180; BORDER-TOP-COLOR: #7a8180; BORDER-RIGHT-COLOR: #7a8180
}
.checked BUTTON {
	BORDER-LEFT-COLOR: #98a09f; BORDER-BOTTOM-COLOR: #98a09f; BORDER-TOP-COLOR: #98a09f; BORDER-RIGHT-COLOR: #98a09f
}
.checked BUTTON {
	BORDER-LEFT-COLOR: #98a09f; BORDER-BOTTOM-COLOR: #98a09f; BORDER-TOP-COLOR: #98a09f; BORDER-RIGHT-COLOR: #98a09f
}
.disabled {
	BORDER-LEFT-COLOR: #cbcdc5; BACKGROUND: #ecece3; FILTER: none; BORDER-BOTTOM-COLOR: #cbcdc5; BORDER-TOP-COLOR: #cbcdc5; BORDER-RIGHT-COLOR: #cbcdc5
}
.disabled .first-child {
	BORDER-LEFT-COLOR: #cbcdc5; BORDER-BOTTOM-COLOR: #cbcdc5; BORDER-TOP-COLOR: #cbcdc5; BORDER-RIGHT-COLOR: #cbcdc5
}
.disabled BUTTON {
	BORDER-LEFT-COLOR: transparent; BORDER-BOTTOM-COLOR: transparent; CURSOR: default; COLOR: #b9b9b9; BORDER-TOP-COLOR: transparent; BORDER-RIGHT-COLOR: transparent
}
.disabled A {
	BORDER-LEFT-COLOR: transparent; BORDER-BOTTOM-COLOR: transparent; CURSOR: default; COLOR: #b9b9b9; BORDER-TOP-COLOR: transparent; BORDER-RIGHT-COLOR: transparent
}
