.primaryColumn #thinColumn .wp H1 {
	FONT-SIZE: 100%
}
#thinColumn .HCon {
	FONT-SIZE: 70%
}
#thinColumn .TCon {
	FONT-SIZE: 70%
}
#thinColumn .searchThin A {
	FONT-SIZE: 70%
}
#thinColumn .wp .list .text {
	FONT-SIZE: 70%
}
#thinColumn .wp .list .text {
	FONT-SIZE: 70%
}
#thinColumn .wp .list .more {
	FONT-SIZE: 70%
}
#thinColumn .wp .list .back {
	FONT-SIZE: 70%
}
.lastReview TD {
	FONT-SIZE: 70%
}
#thinColumn .LCT LI {
	FONT-SIZE: 100%
}
#thinColumn .searchThin SELECT {
	FONT-SIZE: 75%
}
#thinColumn .articleTrans SELECT {
	FONT-SIZE: 75%
}
#thinColumn .searchThin INPUT.text {
	FONT-SIZE: 75%
}
#mainColumn .wp .dllHelpSearch .select SELECT {
	FONT-SIZE: 75%
}
#mainColumn DIV.text INPUT.text {
	FONT-SIZE: 75%
}
#mainColumn .wp .search DIV.select SELECT {
	FONT-SIZE: 105%
}
#mainColumn .wp .search DIV.text INPUT.text {
	FONT-SIZE: 105%
}
#thinColumn .more {
	FONT-SIZE: 70%
}
#thinColumn .HCon TD {
	FONT-SIZE: 70%
}
